.theme-dark-border {
    border-color: #303841 !important;
}
.theme-dark-text {
    color: #303841 !important;
}

.theme-dark-gry-text {
    color: #3A4750 !important;
}

.theme-red-text {
    color: #da1f26 !important;
}

.theme-yellow-text {
    color: #F6C90E !important;
}

.theme-light-yellow-text {
    color: #FFD369 !important;
}

.theme-white-text {
    color: #EEEEEE !important;
}

.theme-dark-background {
    background-color: #272121 !important;
}

.theme-dark-gry-background {
    background-color: #3A4750 !important;
}

.theme-yellow-background {
    background-color: #F6C90E !important;
}

.theme-light-yellow-background {
    background-color: #FFD369 !important;
}

.theme-white-background {
    background-color: #EEEEEE !important;
}

.bg-dark-color {
    background: linear-gradient(310deg, #f6bd02, #fae78b) !important;
}

.bg-yellow-color {
    background: linear-gradient(310deg, #F6C90E, #fae78b) !important;
}

.bg-light-color {
    background: linear-gradient(310deg, #f6bd02, #fae78b) !important;
}

.bg-dark-img {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url('../images/testBg.jpg');
    background-attachment: fixed !important;
}

.aus-bg-header {
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: 1;
    background: url('../images/country/aus/AUS 1920X390.jpg') center;
}

.can-bg-header {
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: 1;
    background: url('../images/country/can/CAN 1920X390.jpg') center;
}

.uk-bg-header {
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: 1;
    background: url('../images/country/uk/UK 1920X390.jpg') center;
}

.usa-bg-header {
    width: 100%;
    background-size: cover;
    background: url('../images/country/usa/USA 1920X390.jpg') center;
    position: relative;
    z-index: 1;
}

.aboutus-bg-header {
    width: 100%;
    background-size: cover;
    background: url('../images/About us 1920X390.jpg') center;
    position: relative;
    z-index: 1;
}

.contactus-bg-header {
    width: 100%;
    background-size: cover;
    background: url('../images/Contact us 1920 X390.jpg') center;
    position: relative;
    z-index: 1;
}

.ielts-bg-header {
    width: 100%;
    background-size: cover;
    background: url('../images/examination/IELTS/IELTS.jpg') center;
    position: relative;
    z-index: 1;
}

.duolingo-bg-header {
    width: 100%;
    background-size: cover;
    background: url('../images/examination/DUOLINGO/DUOLINGO-1.jpg') center;
    position: relative;
    z-index: 1;
}

.toefl-bg-header {
    width: 100%;
    background-size: cover;
    background: url('../images/examination/TOEFL/TOEFL.jpg') center;
    position: relative;
    z-index: 1;
}

.pte-bg-header {
    width: 100%;
    background-size: cover;
    background: url('../images/examination/PTE/PTE.jpg') center;
    position: relative;
    z-index: 1;
}

.examination-bg-header {
    width: 100%;
    background-size: cover;
    background: url('../images/examination/EXAMINATION 1920X390.jpg') center no-repeat;
    position: relative;
    z-index: 1;
}

.lor-bg-header {
    width: 100%;
    background-size: cover;
    background: url('../images/documents/lor/LOR.jpg') center;
    position: relative;
    z-index: 1;
}

.sop-bg-header {
    width: 100%;
    background-size: cover;
    background: url('../images/documents/sop/SOP.jpg') center;
    position: relative;
    z-index: 1;
}

.studyAbroad-bg-header {
    width: 100%;
    background-size: cover;
    background: url('../images/studyAbroad.jpg') center;
    position: relative;
    z-index: 1;
}
